<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
    <php>
        <var name="PDO_DSN" value="mysql:dbname=test_bandaid;host=localhost" />
        <var name="PDO_USER" value="root" />
        <var name="PDO_PASSWD" value="123456" />
        <var name="PDO_DBNAME" value="test_bandaid" />
        <var name="MONGO_DBHOST" value="localhost" />
        <var name="MONGO_DBNAME" value="test_bandaid" />
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>src/*/*/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>

        </whitelist>
    </filter>
</phpunit>